.container{
    max-width: 1264px;
    margin: 0 auto;
    padding: 0 8px;
    outline: 1px solid red;
    @media screen and (min-width:304px){
        width: 304px;
    }
    @media screen and (min-width:752px){
        width: 752px;
        padding: 0 16px;
    }
    @media screen and (min-width:1264px){
        width: 1264px;
    }
}