.blog {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 752px) {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  
    &__title {
      color: $text-color;
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 32px;
      gap: 15px;
  
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: $text-color;
      }
  
      @media screen and (min-width: 752px) {
        font-size: 44px;
        margin-bottom: 57px;
      }
  
      @media screen and (min-width: 1264px) {
        font-size: 44px;
        margin-bottom: 122px;
      }
    }
  
  
    &__list{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      @media screen and (min-width: 752px) {
          gap: 32px;
        }
   
    }
  
  
  
  
    &__img{
      width: 122px;
      height: 147px;
  
    }
  
    
    &__item:nth-child(2){
      .blog__img{
          width: 153px;
          height: 181px;
      }
    }
  
    &__text {
      color: $text-color;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
      margin-top: 28px;
      margin-bottom: 32px;
      @media screen and (min-width: 752px) {
        font-size: 32px;
        margin-top: 32px;
        margin-bottom: 40px;
      }
  
      @media screen and (min-width: 1264px) {
        margin-top: 44px;
        margin-bottom: 48px;
      }
    }
  
    &__button {
      color: $main-color;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px; /* 133.333% */
      padding: 14px 28px;
      border-radius: 38px;
      background: $accent-color;
  
  
      @media screen and (min-width: 752px) {
          padding: 16px 32px;
          font-size: 28px;
        }
    
        @media screen and (min-width: 1264px) {
  
        }
    }
  }
  